:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-azeret-mono: "Azeret Mono", monospace;
}

body {
  background-color: #400d65;
  color: #f4edea;
}

html {
  font-family: var(--font-azeret-mono);
}

h1 {
  text-transform: uppercase;
}

