.button {
    background-color: #f4edea;
    border: 5px solid #4f6397;
    margin-left: 22px;
    margin-right: 22px;
    text-transform: uppercase;
    font-weight: 900;
    text-decoration: none;
    width: 16%;
    max-width: 271px;
    min-width: 150px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #4f6397;
    flex-direction: column;
}

.buttontitle {
    margin-top: 10px;
}

.navbar {
    background-color: #f4edea;
    border: 5px solid #5eb8c8;
    width: 80%;
    max-width: 1500px;
    min-width: 1234px;
    height: 205px;
    border-top: 36px solid #5eb8c8;
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    margin-top: 22px;
    position: fixed;
    top: 0;
    margin-bottom: 22px;
    left: 50%;
    transform: translate(-50%, 0);
}

.footer {
    background-color: #f4edea;
    border: 5px solid #5eb8c8;
    width: 80%;
    max-width: 1500px;
    min-width: 1234px;
    height: 205px;
    border-top: 36px solid #5eb8c8;
    box-sizing: border-box;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 22px;
    transform: translate(-50%, 0);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
}

.shape {
    height: 50px;
    width: 50px;
    /* background-color: #4f6397; */
}

.marginshape {
    /* height: 50px;
    width: 50px; */
    /* background-color: #4f6397; */
    color: #4f6397;
    margin: 30px;
}

.linkbox {
    border: 5px solid #4f6397;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 125px;
    margin-left: 22px;
    margin-right: 22px;
}

.meetbox {
    border: 5px solid #4f6397;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    width: 50%;
    height: 125px;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 30px;
    letter-spacing: 5px;
    color: #4f6397;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
}

.nextmeettext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}