/* This file contains styles for the navbar and footer components */
.window__top {
    text-transform: uppercase;
    background-color: #5eb8c8;
    color: #f4edea;
    height: 36px;
    display: flex;
    align-items: center;
    position: relative;
}

.window__title {
    margin: 0px;
    margin-left: 7px;
}


.window__top__icon {
    height: 20px;
    width: 20px;
    background-color: #f4edea;
}

.window__top__min {
    height: 20px;
    width: 20px;
    background-color: #f4edea;
    position: absolute;
    right: 50px;
}

.window__top__full {
    height: 20px;
    width: 20px;
    background-color: #f4edea;
    position: absolute;
    right: 25px;
}

.window__top__x {
    height: 20px;
    width: 20px;
    background-color: #f4edea;
    position: absolute;
    right: 0px;
}

.button {
    /* colors */
    background-color: #f4edea;
    border: 5px solid #4f6397;
    color: #4f6397;

    /* text options */
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;

    /* dimensions */
    width: 16%;
    max-width: 271px;
    min-width: 150px;
    height: 125px;
    
    /* spacing */
    margin-left: 22px;
    margin-right: 22px;

    /* content positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: #dadada;
}

.button__title {
    margin-top: 10px;
}

.navbar {
    /* colors and styling */
    filter: drop-shadow(16px 16px rgba(10,10,10,.25));
    background-color: #f4edea;
    border: 5px solid #5eb8c8;
    border-top: 0px;

    /* dimensions */
    box-sizing: border-box;
    width: 80%;
    max-width: 1500px;
    min-width: 1234px;
    height: 205px;
    
    /* positioning */
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin: auto;
    margin-top: 22px;
    margin-bottom: 22px;

    /* content positioning */
    align-items: center;
}

.footer {
    /* colors and styling */
    filter: drop-shadow(16px 16px rgba(10,10,10,.25));
    background-color: #f4edea;
    border: 5px solid #5eb8c8;
    border-top: 0px;

    /* dimensions */
    box-sizing: border-box;
    width: 80%;
    max-width: 1500px;
    min-width: 1234px;
    height: 205px;

    /* positioning */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    margin-top: 22px;
    margin-bottom: 22px;

    /* content positioning */
    align-items: center;
}

.window__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px;
}

.smbox__icon {
    color: #4f6397;
    margin: 30px;
}

.smbox {
    border: 5px solid #4f6397;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 125px;
    margin-left: 22px;
    margin-right: 22px;
}

.meetbox {
    border: 5px solid #4f6397;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    width: 50%;
    height: 125px;
    margin-left: 22px;
    margin-right: 22px;
    font-size: 30px;
    letter-spacing: 5px;
    color: #4f6397;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
}

.meetbox__text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}